<header>
  <form>
    <h2>Search Agent</h2>
    <div class="group">
      <input name="search" type="text" placeholder="Agent Name" id="name" />
      <label for="name">Agent Name</label>
    </div>
  </form>
</header>